@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --main: #03045e;
  --light-1: #023e8a;
  --light-2: #0077b6;
  --light-3: #0096c7;
  --light-4: #00b4d8;
  --light-5: #48cae4;
  --light-6: #90e0ef;
  --light-7: #ade8f4;
  --light-8: #caf0f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo-text {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg, rgba(119,119,119,1) 0%, rgba(102,102,110,1) 25%, rgba(153,153,161,1) 50%, rgba(230,230,233,1) 75%, rgba(244,244,246,1) 100%);
    background: linear-gradient(90deg, rgba(0,150,199,1) 0%, rgba(72,202,228,1) 50%, rgba(173,232,244,1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-gradient::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background: linear-gradient(90deg, rgba(0,150,199,1) 0%, rgba(72,202,228,1) 50%, rgba(173,232,244,1) 100%);
    z-index: 10;
}